<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.popularmovies">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_movie_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UI.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.DetailActivity"
            android:parentActivityName=".UI.MainActivity"
            android:theme="@style/DetailTheme" />

        <provider
            android:name=".Data.MovieProvider"
            android:authorities="com.example.android.popularmovies" />

        <activity
            android:name=".UI.FavoriteMoviesActivity"
            android:label="Favorite Movies"
            android:parentActivityName=".UI.MainActivity" />

        <service android:name=".Services.FetchMoviesService" />
        <service android:name=".Services.FetchUpComingMoviesService" />
        <service android:name=".Services.FetchSearchMovies" />

        <activity
            android:name=".UI.SearchResultsActivity"
            android:parentActivityName=".UI.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"></meta-data>
        </activity>
    </application>

</manifest>